<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="eLearningPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- Production-->
    <add name="siebeldb" connectionString="server=YOUR_SERVER\YOUR_INSTANCE;uid=YOUR_USER;pwd=YOUR_PASSWORD;database=siebeldb;Connect Timeout=20;Min Pool Size=3;Max Pool Size=5" providerName="System.Data.SqlClient"/>
    <add name="elearningdb" connectionString="server=YOUR_SERVER\YOUR_INSTANCE;uid=YOUR_USER;pwd=YOUR_PASSWORD;database=elearning;Min Pool Size=3;Max Pool Size=5" providerName="System.Data.SqlClient"/>
    <add name="hcidb" connectionString="server=YOUR_SERVER\YOUR_INSTANCE;uid=YOUR_USER;pwd=YOUR_PASSWORD;Min Pool Size=3;Max Pool Size=5;Connect Timeout=10;database=" providerName="System.Data.SqlClient"/>
    <add name="dms" connectionString="server=YOUR_SERVER\YOUR_INSTANCE;uid=DMS;pwd=YOUR_PASSWORD;Min Pool Size=3;Max Pool Size=5;Connect Timeout=10;database=DMS" providerName="System.Data.SqlClient"/>
    <!-- Testing-->
	<!--<add name="siebeldb" connectionString="server=YOUR_TEST_SERVER;uid=YOUR_USER;pwd=YOUR_PASSWORD;database=siebeldb;Min Pool Size=3;Max Pool Size=5" providerName="System.Data.SqlClient"/>
    <add name="elearningdb" connectionString="server=YOUR_TEST_SERVER;uid=YOUR_USER;pwd=YOUR_PASSWORD;database=elearning;Min Pool Size=3;Max Pool Size=5" providerName="System.Data.SqlClient"/>
    <add name="hcidb" connectionString="server=YOUR_TEST_SERVER;uid=YOUR_USER;pwd=YOUR_PASSWORD;Min Pool Size=3;Max Pool Size=5;Connect Timeout=10;database=" providerName="System.Data.SqlClient"/>
    <add name="dms" connectionString="server=YOUR_TEST_SERVER;uid=DMS;pwd=YOUR_PASSWORD;Min Pool Size=3;Max Pool Size=5;Connect Timeout=10;database=DMS" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="ExtractedCoursePath" value="c:\inetpub\wwwroot\courses\"/>
    <add key="Import_TempPath" value="C:\ProgramData\Melissa DATA\MatchUP"/>
    <add key="Retry_Number" value="4"/>
    <add key="Retry_Pause" value="1"/>
  </appSettings>
  <log4net>
    <appender name="RemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
      <identity value=""/>
      <layout type="log4net.Layout.PatternLayout" value="%message"/>
		<!--<remoteAddress value="192.168.5.37"/>-->
		<!-- Production-->
		<remoteAddress value="YOUR_LOG_SERVER_IP"/>  
      <!-- Testing-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
      </filter>
    </appender>
    <appender name="SPLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{SPLogFileName}"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="3"/>
      <maximumFileSize value="9000KB"/>
      <staticLogFileName value="true"/>
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <appender name="GMLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{GMLogFileName}"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="5000KB"/>
      <staticLogFileName value="true"/>
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <logger name="EventLog">
      <level value="ALL"/>
      <appender-ref ref="RemoteSyslogAppender"/>
    </logger>
    <logger name="GMDebugLog">
      <level value="ALL"/>
      <appender-ref ref="GMLogFileAppender"/>
    </logger>
    <logger name="SPDebugLog">
      <level value="ALL"/>
      <appender-ref ref="SPLogFileAppender"/>
    </logger>
  </log4net>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpRuntime maxRequestLength="102400"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <sessionState mode="InProc" timeout="2"/>
    <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>
  </system.web>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <eLearningPlayer.Properties.Settings>
      <setting name="eLearningPlayer_com_certegrity_cloudsvc_Service" serializeAs="String">
        <value>https://your-cloud-service.com/basic/service.asmx</value>
      </setting>
      <setting name="eLearningPlayer_com_certegrity_hciscormsvc_Service" serializeAs="String">
        <value>https://your-scorm-service.com/Scorm/service.asmx</value>
      </setting>
    </eLearningPlayer.Properties.Settings>
  </applicationSettings>
</configuration>